@import "./knacss.less";

/***** VARS ****/

@orange: orange;

/***************/
body{
    overflow-x:hidden;
}
header {
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
        margin-top: 75px;
    }

    nav {
        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            padding: 0;
            margin: 0;

            li{
                margin: 0 25px;
                font-size: 25px;
                a {
                    text-decoration: none;
                }
            }
        }
    }

    &:after{
        content: '';
        width: 120%;
        position: absolute;
        left: -30px;
        height: 300px;
        bottom: -40px;
        background: white;
        border-bottom: 5px solid @orange;
        transform: rotate(-3deg);
        z-index: -1;
        box-shadow: 0 0 25px 0px black;
    }
}




#firstSection{
    height: 800px;
    //padding-top: 100px;
    position: relative;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    h1{
        font-size: 45px;
        color: white;
    }

    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .button-like {
            display: block;
            width: 300px;
            height: 75px;
            background: transparent;
            border: 2px solid white;
            border-radius: 5px;
            margin: 10px;
            text-decoration: none;
            line-height: 75px;
            color: white;
            font-size: 20px;

            &:nth-child(1){
                background: @orange;
                border-color: @orange;
            }
        }
    }

    &:after{
        content: '';
        width: 120%;
        position: absolute;
        left: -30px;
        height: 150px;
        bottom: -75px;
        background: white;
        border-top: 5px solid orange;
        transform: rotate(-3deg);
        box-shadow: 0 0 25px 0px black;
    }
}
