@import "./knacss.less";

/***** VARS ****/

@orange: orange;

/***************/

.centerDiv {
    width: 1300px;
    margin: auto;

    @media screen and (max-width: 1000px) {
        width: 100%;
    }
}

body{
    overflow-x:hidden;
}

h2 {
    text-align: center;
    font-family: 'sansationregular', sans-serif;
    color: @orange;
    font-size: 45px;

    @media screen and (max-width: 1000px) {
        font-size: 30px;
        padding-top: 20px;
    }
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media screen and (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
    }

    .button-like {
        display: block;
        width: 300px;
        height: 75px;
        background: transparent;
        border: 2px solid white;
        border-radius: 5px;
        margin: 10px;
        text-decoration: none;
        line-height: 75px;
        color: white;
        font-size: 20px;
        text-align: center;

        &-orange{
            background: @orange;
            border-color: @orange;
        }

        &-fb, &-twitter, &-insta {
            border: 0;
            font-weight: bold;
        }

        &-fb {
            background: #3b5998;
        }

        &-twitter {
            background: #1da1f2;
        }

        &-insta {
            background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
        }
    }
}

header {
    font-family: 'sansationregular', sans-serif;
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
        margin-top: 75px;
    }

    nav {
        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            padding: 0;
            margin: 0;

            @media screen and (max-width: 1000px) {
                flex-direction: column;
                text-align: center;
                padding-top: 20px;
            }

            li{
                margin: 0 25px;
                font-size: 25px;

                @media screen and (max-width: 1000px) {
                    margin: 10px 0;
                }

                a {
                    text-decoration: none;
                }
            }
        }
    }

    &:after{
        content: '';
        width: 120%;
        position: absolute;
        left: -30px;
        height: 300px;
        bottom: -40px;
        background: white;
        border-bottom: 5px solid @orange;
        transform: rotate(-3deg);
        z-index: -1;
        box-shadow: 0 0 25px 0px black;
    }

    @media screen and (max-width: 1000px) {
        flex-direction: column;
        justify-content: center;
        height: auto;

        &:after {
            transform: rotate(0);
            bottom: 0;
            height: auto;
        }
    }
}




#firstSection{
    font-family: 'sansationregular', sans-serif;
    height: 800px;
    //padding-top: 100px;
    position: relative;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    h1{
        font-size: 45px;
        color: white;
        font-family: 'sansationregular', sans-serif;
    }

    &:after{
        content: '';
        width: 120%;
        position: absolute;
        left: -30px;
        height: 150px;
        bottom: -75px;
        background: white;
        border-top: 5px solid orange;
        transform: rotate(-3deg);
        box-shadow: 0 0 25px 0px black;
        z-index: -1;

        @media screen and (max-width: 1000px) {
            width: 100%;
            transform: rotate(0);
            left: 0;
        }
    }
}

#presentation{
    background: white;
    position: relative;
    padding-bottom: 50px;

    &:after{
        content: '';
        width: 120%;
        position: absolute;
        left: -30px;
        height: 300px;
        bottom: -45px;
        background: white;
        border-bottom: 5px solid @orange;
        transform: rotate(-3deg);
        z-index: -1;
        box-shadow: 0 0 25px 0px black;

        @media screen and (max-width: 1000px) {
            width: 100%;
            transform: rotate(0);
            left: 0;
        }
    }

    .centerDiv {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items:flex-start;
        justify-content: space-between;
        flex-wrap: wrap;

        .column {
            width: 25%;

            @media screen and (max-width: 1000px) {
                width: 50%;
            }

            @media screen and (max-width: 500px) {
                width: 100%;
            }

            .round {
                display: inline-block;
                width: 200px;
                height: 200px;
                background: @orange;
                border-radius: 200%;
                border: 3px solid @orange;

            }

            &:nth-child(1) .round{
                background: url('../imgs/enssat.jpg');
                background-size: cover;

            }

            &:nth-child(2) .round{
                background: url('../imgs/equipe.jpg');
                background-size: cover;
                background-position: center 10px;

            }

            &:nth-child(3) .round{
                background: url('../imgs/etu.jpg');
                background-size: cover;
                background-position: center;

            }

            &:nth-child(4) .round{
                background: url('../imgs/f4g.jpg');
                background-size: cover;

            }

            p {
                padding: 0 45px;
                text-align: center;
                font-size: 16px;
            }
        }
    }
}

#thirdSection {
    height: 1200px;
    padding-top: 150px;
    position: relative;

    @media screen and (max-width: 1000px) {
        height: 630px;
    }

    &:after{
        content: '';
        width: 120%;
        position: absolute;
        left: -30px;
        height: 150px;
        bottom: -75px;
        background: white;
        border-top: 5px solid orange;
        transform: rotate(-3deg);
        box-shadow: 0 0 25px 0px black;
        z-index: -1;

        @media screen and (max-width: 1000px) {
            height: 0;
        }
    }

    .contacts {
        display: flex;
        flex-direction: row;

        @media screen and (max-width: 1000px) {
            display: none;
        }

        &-mobile {
            margin-bottom: 20px;
        }

        div {
            width: 50%;

            @media screen and (max-width: 1000px) {
                width: 90%;
                margin-top: 5px;
            }

            &:nth-child(2){
                div{
                    height: 800px;
                }
            }
        }
    }
}

#clubs {
    background: white;
    //height: 500px;
    position: relative;
    padding-bottom: 55px;

    &:after{
        width: 120%;
        position: absolute;
        left: -30px;
        height: 300px;
        bottom: -45px;
        background: white;
        border-bottom: 5px solid @orange;
        transform: rotate(-3deg);
        z-index: -1;
        box-shadow: 0 0 25px 0px black;
    }

    p {
        text-align: center;
        font-size: 18px;
        padding-bottom: 10px;
    }

    .clubs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .club {
            width: 25%;
            height: 120px;
            border: 1px solid white;
            text-align: center;
            color: white;
            font-family: 'sansationregular', sans-serif;
            font-size: 30px;
            position:relative;

            @media screen and (max-width: 1000px) {
                width: 100%;
            }

            .faceA{
                width:100%;
                height:120px;
                line-height: 120px;
                position:absolute;
                top:0;
                background: @orange;
                background-size: contain;
                text-shadow: 0 0 10px black;
                font-weight: bold;
                transform:perspective(2000px) rotateX(0deg);
                backface-visibility: hidden;
                transition:all .5s ease;
                //z-index:5;

            }
            &:hover .faceA{
                transform:perspective(2000px) rotateX(180deg);
                //z-index:-5;
            }

            .faceB{
                //z-index:-3;
                position:absolute;
                top:0;
                width:100%;
                height:120px;
                background: @orange;

                transform:perspective(2000px) rotateX(-180deg);
                backface-visibility: hidden;
                transition:all .5s ease;

                font-size: 18px;
                line-height: 120px;
                text-align:center;
                overflow: hidden;
                padding:4px;
            }

            &:hover .faceB{
                transform:perspective(2000px) rotateX(0deg);
                //z-index:7;
            }
        }
    }
}
